button{
  cursor: pointer;
  font-size: 1rem;
  background: none;
  border: none;
}

$button-padding-block: 1.1rem;
$button-padding-inline: 1.75rem;

.btn{
  cursor: pointer;
  text-align: center;
  color: #fff;
  font-size: .96rem;
  font-weight: 500;
  padding: $button-padding-block $button-padding-inline;
  &:not(.transparent){ border-radius: 100vmax; }
  &:not(.outline, .transparent){ background: $primary; }
  &.outline, &.transparent, &.white{ color: $primary; }
  &.outline{ box-shadow: inset 0 0 0 .125rem $primary; }

  &.white{
    &:not(.outline, .transparent){ background: #fff; }
    &.outline, &.transparent{ color: #fff; }
    &.outline{ box-shadow: inset 0 0 0 .125rem #fff; }
  }

  &.red{
    &:not(.outline, .transparent){ background: #E95A45; }
    &.outline, &.transparent{ color: #E95A45; }
    &.outline{ box-shadow: inset 0 0 0 .125rem #E95A45; }
  }
}