button{
  font-size: 1rem;
  background: none;
  border: none;
}

.btn{
  cursor: pointer;
  text-align: center;
  border-radius: .75rem;
  font-size: .96rem;
  font-weight: 500;
  padding: 1rem 1.75rem;
  &:not(.outline, .transparent, .white){
    background: $primary;
    color: #fff;
  }
  &.white{
    background: #fff;
  }
  &.outline{
    border: $border;
  }
}