button{
  border: none;
}

.btn{
  cursor: pointer;
  border-radius: 100vmax;
  font-size: .96rem;
  font-weight: 500;
  padding: 1.25rem 1.75rem;
  &:not(.outline, .transparent){
    background: $primary;
    color: #fff;
  }
  &.outline{
    border: $border;
  }
}