input{
  &[type=text], &[type=number], &[type=email], &[type=password]{
    font-size: 1rem;
    border: $border;
    border-radius: $border-radius;
    padding: 1.25rem;
    &::placeholder{ color: #aaa; }

    &.primary{
      background: lighten($primary, 5);
      color: #fff;
      border-color: transparent;
      &::placeholder{ color: lighten($primary, 35); }
    }
    
    &.error{ border-color: $error !important; }
  }
}
    
.error-message{
  &.hidden{ display: none; }
  color: $error;
  font-size: .9rem;
}