:root{
  --100dvh: 100dvh;
  --wrapper-padding-inline: 1.8rem;
}

$border-radius: .8rem;

html{ overflow: hidden; }
body{ overflow: hidden; }

.wrapper{ padding-inline: var(--wrapper-padding-inline); }

svg{ display: block; }

.content{
  overflow-y: auto;
  position: relative;
  z-index: 2;
  height: var(--100dvh, 100vh);
  transition: $transition, height 0s;
  padding-block: 4.53125rem;
  &.menu-opened{
    *{ pointer-events: none; }
    overflow-y: hidden;
    transform: scale(.7) translateX(70%);
    border-radius: 2rem;
  }
  &.hidden{ transform: scale(.7) translateX(114%); }
}
.content.bg-card{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background: transparent;
  &.menu-opened{
    background: lighten($primary, 10);
    transform: scale(.63) translateX(64%);
  }
  &.hidden{ transform: scale(.63) translateX(114%); }
}