:root{
  --100dvh: 100dvh;
  --wrapper-padding-inline: 1.8rem;
}

$border-radius: .8rem;

html{ overflow: hidden; }
body{ overflow: hidden; }

.wrapper{ padding-inline: var(--wrapper-padding-inline); }

svg{ display: block; }