header{
  display: flex;
  align-items: center;
  padding-block: 1.5rem;

  .logo{
    font-size: 1.25rem;
    font-weight: 600;
    margin-right: auto;
  }

  .account-btns{
    display: flex;
    gap: .5rem;
  }
}