menu{
  position: absolute;
  z-index: 1;
  inset: 0;
  color: #fff;
  transition: $transition;
  padding: 0 var(--wrapper-padding-inline);
  &:not(.menu-opened){
    visibility: hidden;
    opacity: 0;
    transform: translateX(-10%);
  }

  .title{
    position: relative;
    top: 2.234375rem; ////
    transform: translateY(-50%);
    font-weight: 700;
  }

  nav{
    position: absolute;
    top: 0;
    width: 45%;
    height: var(--100dvh, 100vh);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: .5rem;
    transition: $transition;
    padding-block: 7rem 3rem;
    &.logging-in{
      visibility: hidden;
      opacity: 0;
      transform: translateX(10%);
    }
    a{
      text-align: left !important;
      display: block;
      width: 100%;
      color: #fff;
      padding-inline: 0 !important;
    }
    .account-btns{
      display: flex;
      flex-flow: column;
      gap: .5rem;
      button.transparent{ color: #fff; }
    }
  }
}