menu{
  position: absolute;
  z-index: 1;
  inset: 0;
  color: #fff;
  transition: $transition;
  padding: 0 var(--wrapper-padding-inline);
  &.hidden{
    visibility: hidden;
    opacity: 0;
    transform: translateX(-10%);
  }

  .title{
    position: relative;
    top: 2.234375rem; ////
    transform: translateY(-50%);
    button{
      color: #fff;
      font-weight: 700;
      transition: $transition;
      &.hidden{
        opacity: 0;
        visibility: hidden;
        transform: translateX(1rem);
      }
      &.auth-title{
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        gap: .25rem;
        padding: .75rem;
        margin: -0.75rem;
        &.hidden{ transform: translateX(-1rem); }
        svg{ stroke-width: .16rem; }
      }
    }
  }

  nav{
    position: absolute;
    top: 0;
    width: 45%;
    height: var(--100dvh, 100vh);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: .5rem;
    transition: $transition;
    padding-block: 7rem 3rem;
    &.logging-in{
      visibility: hidden;
      opacity: 0;
      transform: translateX(10%);
    }
    a{
      text-align: left !important;
      display: block;
      width: 100%;
      color: #fff;
      padding-inline: 0 !important;
    }
    .account-btns{
      display: flex;
      flex-flow: column;
      gap: .5rem;
      button.transparent{ color: #fff; }
    }
  }
}