.auth{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: var(--wrapper-padding-inline);
  right: 17%;
  display: flex;
  flex-flow: column;
  transition: $transition;
  &.hidden{
    visibility: hidden;
    opacity: 0;
    transform: translate(-1rem, -50%);
    &.secondary{ transform: translate(1rem, -50%); }
  }

  & > .title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    svg{ margin-bottom: .75rem; }
  }

  form{
    display: grid;
    gap: 1rem;
  
    .btn.submit{
      font-size: 1rem;
      padding: 1.25rem 1.5rem;
    }
  }

  .bottom-link{
    text-align: center;
    padding-block: 1rem;
    .link{
      cursor: pointer;
      color: #fff;
      font-weight: 600;
      text-decoration: underline;
    }
  }
}