.menu-btn{
  cursor: pointer;
  position: fixed;
  top: 2.265625rem; ////
  right: var(--wrapper-padding-inline);
  transform: translateY(-50%);
  z-index: 999;
  width: 3rem;
  height: 3rem;
  padding: .75rem;
  margin-right: -0.75rem;

  .lines-cont{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .line{
    width: 100%;
    height: 0.15rem;
    background: $primary;
    border-radius: 100vmax;
    &:nth-child(1){
      transition: width $transition/2, transform $transition/2, margin $transition/2;
      margin-bottom: .25rem;
    }
    &:nth-child(2){
      transition: width 0s, transform $transition/2, margin 0s;
      width: 80%;
      margin-left: 20%;
    }
    &:nth-child(3){
      opacity: 0;
      position: absolute;
      transition: opacity 0s, width 0s, transform $transition/2;
      transition-delay: $transition/2, $transition/2, $transition/2; // opacity, width, transform
    }
  }

  &:not(.menu-opened) .line{
    &:nth-child(1){ transition-delay: 0s, 0s, $transition/2; }
    &:nth-child(2){ transition-delay: $transition/2, 0s, $transition/2; }
  }
  
  &.menu-opened .line{
    width: 80%;
    background: #fff;
    &:nth-child(1){
      transform: rotate(-45deg);
      transition-delay: $transition/2, $transition/2, 0s; // width, transform, margin
      margin-bottom: -0.125rem;
    }
    &:nth-child(2){
      transition-delay: $transition/2; // width
      transform: rotate(-135deg);
      margin: 0;
    }
  }
}