*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import './ui/animations';
@import './ui/colors';
@import './ui/typography';
@import './ui/layout';
@import './ui/buttons';
@import './ui/inputs';
@import './components/header';
@import './components/menu/menu';
@import './components/menu/menu-btn';
@import './components/menu/auth';
@import './components/menu/profile-settings';
@import './pages/home/home';
@import './pages/home/components/post';
@import './pages/log-in_sign-up/log-in_sign-up';