* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #171717;
}

header, .content {
  background: #FBFCFD;
}

body, button, input {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #171717;
}

a {
  text-decoration: none;
  color: #171717;
}

ul, nav {
  list-style: none;
}

:root {
  --100dvh: 100dvh;
  --wrapper-padding-inline: 1.8rem;
}

html {
  overflow: hidden;
}

body {
  overflow: hidden;
}

.wrapper {
  padding-inline: var(--wrapper-padding-inline);
}

svg {
  display: block;
}

.content {
  overflow-y: auto;
  position: relative;
  z-index: 2;
  height: var(--100dvh, 100vh);
  transition: 0.25s, height 0s;
  padding-block: 4.53125rem;
}
.content.menu-opened {
  overflow-y: hidden;
  transform: scale(0.7) translateX(70%);
  border-radius: 2rem;
}
.content.menu-opened * {
  pointer-events: none;
}
.content.hidden {
  transform: scale(0.7) translateX(114%);
}

.content.bg-card {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background: transparent;
}
.content.bg-card.menu-opened {
  background: #313131;
  transform: scale(0.63) translateX(64%);
}
.content.bg-card.hidden {
  transform: scale(0.63) translateX(114%);
}

button {
  cursor: pointer;
  font-size: 1rem;
  background: none;
  border: none;
}

.btn {
  cursor: pointer;
  text-align: center;
  color: #fff;
  font-size: 0.96rem;
  font-weight: 500;
  border-radius: 0.75rem;
  padding: 1rem 1.75rem;
}
.btn:not(.outline, .transparent) {
  background: #171717;
}
.btn.outline, .btn.transparent, .btn.white {
  color: #171717;
}
.btn.outline {
  box-shadow: inset 0 0 0 0.125rem #171717;
}
.btn.white:not(.outline, .transparent) {
  background: #fff;
}
.btn.white.outline, .btn.white.transparent {
  color: #fff;
}
.btn.white.outline {
  box-shadow: inset 0 0 0 0.125rem #fff;
}
.btn.red:not(.outline, .transparent) {
  background: #E95A45;
}
.btn.red.outline, .btn.red.transparent {
  color: #E95A45;
}
.btn.red.outline {
  box-shadow: inset 0 0 0 0.125rem #E95A45;
}

input[type=text], input[type=number], input[type=email], input[type=password] {
  font-size: 1rem;
  border: 0.0625rem solid #e7e8ec;
  border-radius: 0.75rem;
  padding: 1.25rem;
}
input[type=text]::-moz-placeholder, input[type=number]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=password]::-moz-placeholder {
  color: #aaa;
}
input[type=text]::placeholder, input[type=number]::placeholder, input[type=email]::placeholder, input[type=password]::placeholder {
  color: #aaa;
}
input[type=text].primary, input[type=number].primary, input[type=email].primary, input[type=password].primary {
  background: #242424;
  color: #fff;
  border-color: transparent;
}
input[type=text].primary::-moz-placeholder, input[type=number].primary::-moz-placeholder, input[type=email].primary::-moz-placeholder, input[type=password].primary::-moz-placeholder {
  color: #707070;
}
input[type=text].primary::placeholder, input[type=number].primary::placeholder, input[type=email].primary::placeholder, input[type=password].primary::placeholder {
  color: #707070;
}
input[type=text].error, input[type=number].error, input[type=email].error, input[type=password].error {
  border-color: #E95A45 !important;
}

.error-message {
  color: #E95A45;
  font-size: 0.9rem;
}
.error-message.hidden {
  display: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 0.0625rem solid #e7e8ec;
  transition: 0.25s;
  padding-block: 1.5rem;
}
header:not(.content-scrolled) {
  border-bottom-color: transparent;
}
header.content-scrolled {
  border-bottom: 0.0625rem solid #e7e8ec;
}
header .logo {
  font-size: 1.25rem;
  font-weight: 700;
  margin-right: auto;
}

menu {
  position: absolute;
  z-index: 1;
  inset: 0;
  color: #fff;
  transition: 0.25s;
  padding: 0 var(--wrapper-padding-inline);
}
menu.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-10%);
}
menu > .title {
  position: relative;
  top: 2.234375rem;
  transform: translateY(-50%);
}
menu > .title button {
  color: #fff;
  font-weight: 700;
  transition: 0.25s;
}
menu > .title button.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateX(1rem);
}
menu > .title button.auth-title {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.75rem;
  margin: -0.75rem;
}
menu > .title button.auth-title.hidden {
  transform: translateX(-1rem);
}
menu > .title button.auth-title.hidden.secondary {
  transform: translateX(1rem);
}
menu > .title button.auth-title svg {
  stroke-width: 0.16rem;
}
menu nav {
  position: absolute;
  top: 0;
  width: 45%;
  height: var(--100dvh, 100vh);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 0.5rem;
  transition: 0.25s;
  padding-block: 7rem 3rem;
}
menu nav.logging-in {
  visibility: hidden;
  opacity: 0;
  transform: translateX(10%);
}
menu nav ul a {
  text-align: left !important;
  display: block;
  width: 100%;
  padding-inline: 0 !important;
}
menu nav .account-btns {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}
menu nav .account-btns button.transparent {
  color: #fff;
}
menu nav .account-btns .profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: left;
  padding: 0.5rem;
  margin: -0.5rem;
}
menu nav .account-btns .profile span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
  font-weight: 500;
}
menu nav .account-btns .profile .pfp {
  position: relative;
  width: 2.5rem;
  aspect-ratio: 1/1;
  background: #212121;
  border-radius: 50%;
}
menu nav .account-btns .profile .pfp svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
}
menu nav .account-btns .profile .pfp svg path {
  fill: #fff;
}

.menu-btn {
  cursor: pointer;
  position: fixed;
  top: 2.265625rem;
  right: var(--wrapper-padding-inline);
  transform: translateY(-50%);
  z-index: 1000;
  width: 3rem;
  height: 3rem;
  padding: 0.75rem;
  margin-right: -0.75rem;
}
.menu-btn .lines-cont {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.menu-btn .line {
  width: 100%;
  height: 0.15rem;
  background: #171717;
  border-radius: 100vmax;
}
.menu-btn .line:nth-child(1) {
  transition: width 0.125s, transform 0.125s, margin 0.125s;
  margin-bottom: 0.25rem;
}
.menu-btn .line:nth-child(2) {
  transition: width 0s, transform 0.125s, margin 0s;
  width: 80%;
  margin-left: 20%;
}
.menu-btn .line:nth-child(3) {
  opacity: 0;
  position: absolute;
  transition: opacity 0s, width 0s, transform 0.125s;
  transition-delay: 0.125s, 0.125s, 0.125s;
}
.menu-btn:not(.menu-opened) .line:nth-child(1) {
  transition-delay: 0s, 0s, 0.125s;
}
.menu-btn:not(.menu-opened) .line:nth-child(2) {
  transition-delay: 0.125s, 0s, 0.125s;
}
.menu-btn.menu-opened .line {
  width: 80%;
  background: #fff;
}
.menu-btn.menu-opened .line:nth-child(1) {
  transform: rotate(-45deg);
  transition-delay: 0.125s, 0.125s, 0s;
  margin-bottom: -0.125rem;
}
.menu-btn.menu-opened .line:nth-child(2) {
  transition-delay: 0.125s;
  transform: rotate(-135deg);
  margin: 0;
}

.auth {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: var(--wrapper-padding-inline);
  right: 17%;
  display: flex;
  flex-flow: column;
  transition: 0.25s;
}
.auth.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translate(-1rem, -50%);
}
.auth.hidden.secondary {
  transform: translate(1rem, -50%);
}
.auth > .title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.auth > .title svg {
  margin-bottom: 0.75rem;
}
.auth form {
  display: grid;
  gap: 1rem;
}
.auth form .btn.submit {
  font-size: 1rem;
  padding: 1.25rem 1.5rem;
}
.auth .bottom-link {
  text-align: center;
  padding-block: 1rem;
}
.auth .bottom-link .link {
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
}

.profile-settings {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: var(--wrapper-padding-inline);
  right: 17%;
  display: grid;
  transition: 0.25s;
}
.profile-settings.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translate(-1rem, -50%);
}
.profile-settings.hidden.secondary {
  transform: translate(1rem, -50%);
}
.profile-settings label {
  font-weight: 500;
  line-height: 3;
}
.profile-settings .pfp-cont {
  position: relative;
  margin: 0 auto;
}
.profile-settings .pfp-cont svg path {
  fill: #fff;
}
.profile-settings .pfp-cont .pfp {
  display: grid;
  place-items: center;
  width: 7rem;
  aspect-ratio: 1/1;
  background: #242424;
  border-radius: 50%;
}
.profile-settings .pfp-cont .pfp .profile {
  font-size: 2.3rem;
}
.profile-settings .pfp-cont .edit {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #313131;
  border-radius: 50%;
  padding: 0.75rem;
}
.profile-settings .inputs {
  display: grid;
  margin-bottom: 1rem;
}
.profile-settings .inputs input {
  margin-bottom: 0.25rem;
}
.profile-settings .buttons {
  display: grid;
}
.profile-settings .buttons .btn:first-child {
  margin-bottom: 0.5rem;
}

main.home .posts {
  display: grid;
  gap: 1rem;
}

main.home .post {
  display: block;
  background: #fff;
  border: 0.0625rem solid #e7e8ec;
  border-radius: 1rem;
  padding: 1.25rem;
}
main.home .post .author {
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
main.home .post .title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
main.home .post.highlight {
  width: 100%;
  max-height: 20rem;
  aspect-ratio: 1/1;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  color: #fff;
  background: url("https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80");
  background-size: cover;
  background-position: center;
  background-color: #171717;
  border: none;
}
main.home .post.highlight .title {
  font-size: 2.5rem;
  margin: 0;
}/*# sourceMappingURL=index.css.map */